.icon{
    width: 50px;
    border-radius: 45px;
    display: inline-block;
}

.inline{
    display: inline;
}

.name{
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
    margin-top: 0.5%;
    font-family: 'OPEN SANS';
}

.username{
    padding: 3%;
    background-color: white;
    border: 3px solid #e2e2e2;
    border-radius: 45px;
    width: fit-content;
    padding-left: 7%;
    padding-right: 7%;
}

.main_container{
    font-family: 'Open Sans';
    padding: 3%;
    background-color: white;
    border: 4px solid #e2e2e2;
    border-top: none;
    cursor: pointer;
    margin: 2%;
    border-radius: 11px;
    border-top: 4px solid #e2e2e2;
}


.tweet_text{
    text-align: justify;
    margin-top: 2%
}

.date{
    margin-top: 2%;
}

.topic{
    font-family: 'Roboto';
    background-color: #00a1ff;
    color: white;
    font-weight: 800;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 45px;
    padding-left: 3%;
    padding-right: 3%;
    margin: 1px;
    padding-top: 3px;
    display: inline-block;
    margin-left: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

.tags_area{
    height: 145px;
    overflow-y: scroll;
    margin-bottom: 5%;
    margin-left: 6%;
    margin-right: 4%;
}