<div class="main-container h100 w100">
  <div class="tint" id="tint" *ngIf="showMap"></div>
  <app-map (close)="closeBox()" *ngIf="showMap" [country_data]="country_data"></app-map>
  <app-covid-curve (close)="closeBox()" [country]="covid_country" [poi_name]="poi_name"
    [country_img]="covid_country_cap" *ngIf="showChart" [chart]="chart"></app-covid-curve>

  <div class="body h100 w100">
    <div class="left_body h100 m0 inline">
      <div class="title">
        OpenIR
      </div>
      <div class="visualizations" (click)="showMap=true;">Location Analytics</div>
      <div class="visualizations" (click)="showChart=true;">Temporal Analytics</div>

      <div class="left_title">Advanced Search</div>
      <div class="form-group">

      <div class="countries">
        <div class="text-white">Select Country</div>
        <div class="checkboxes">
          <div *ngFor = "let option of countryoptions">
            <input (change) = "option.checked = negate(option.checked)" type="checkbox" id = "{{option.name}}" name="countryoptions"/>
            <label class="text-white" for="{{option.name}}">{{option.name}}</label>
          </div>
        </div>
      </div>
      <div class="countries">
        <div class="text-white">Select Sentiment</div>
        <div class="checkboxes">
          <div *ngFor = "let option of sentimentoptions">
            <input (change) = "option.checked = negate(option.checked)" type="checkbox" id = "{{option.name}}" name="sentimentoptions"/>
            <label class="text-white" for="{{option.name}}">{{option.name}}</label>
          </div>
        </div>
      </div>
      <div class="countries">
        <div class="text-white">Select Language</div>
        <div class="checkboxes">
          <div *ngFor = "let option of langoptions">
            <input (change) = "option.checked = negate(option.checked)" type="checkbox" id = "{{option.name}}" name="langoptions"/>
            <label class="text-white" for="{{option.name}}">{{option.name}}</label>
          </div>
        </div>
      </div>
      </div>
      <div class = "visualizations" (click)="applyFilters()">Apply Filters</div>
    </div>
    <div class="right_body fr h100 inline">
      <app-tweet-expanded *ngIf="curr_tweet!=null" [tweet]="curr_tweet"></app-tweet-expanded>
      <div class="news_title">Related Feed</div>
      <app-news-article *ngFor="let item of newsArticles; let i = index" [newsArticle]="item"></app-news-article>
    </div>
    <div class="center_body fr h100 inline" (scroll)="onScroll($event)">
      <div class="search_bar">
        <input #search (keyup.enter)="getTweets(search.value, 0, 20, true)" class="search"
          placeholder="Type your search query here" />
        <!-- <div class = "search_btm">Search</div> -->
        <div class="filters_box">
          <span class="sort inline"> Sort By: </span>
          <div [ngClass]="{'sort_active': sort === 'influencer_score'}" (click) = "sortResults('influencer_score')" class="filter inline">Influence</div>
          <div [ngClass]="{'sort_active': sort === 'tweet_date'}" (click) = "sortResults('tweet_date')" class="filter  inline">Date</div>
          <div [ngClass]="{'sort_active': sort === 'score'}" (click) = "sortResults('score')" class="filter  inline">Relevance</div>

        </div>
      </div>
      <app-tweet *ngFor="let item of tweets; let i = index" [tweet]="item" (click)="openTweet(item)"></app-tweet>
    </div>
  </div>
  <div [ngClass]="{'loader': loader_show === true, 'not_loader': loader_show === false}">
    <img class="inline" style="width: 50px;" src="../assets/loading.gif" />
    <div style="vertical-align:middle;padding-bottom: 21%;" class="inline">Fetching more tweets</div>
  </div>
</div>