<div class = "main_container" class="{{tweet.sentiment}}">
    <div class = "profile_icon inline">
        <img class = "icon" src = "{{tweet['user.profile_image_url'][0]}}">
    </div>
    <div class = "name inline">
        {{tweet["user.name"]}}
        <div class = "username">
            @{{tweet["user.screen_name"][0]}}
        </div>
    </div>
    <div class = "tweet_text">
        {{tweet.full_text[0]}}       
    </div>
    <div class = "date">
        {{tweet.created_at}}
    </div>
    <div class = "sentiment">
        {{tweet.sentiment}}
    </div>
</div>
